#loader {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	display: flex;
	justify-content: center;
  	align-items: center;
  	height: 100vh; 
	animation-name: background-loader, disapear-loader;
	animation-duration: 1s, 1.5s;
	animation-delay: 0s, 6s;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: forwards, forwards;

}
@keyframes background-loader {
	from, to {
		background-color: black;
	}
	50% {
		background-color: #1b1b1b;
	}
}
@keyframes disapear-loader {
	from {
		/* transform: translate(0%, 0%); */
		opacity: 1;
	}
	to {
		/* transform: translate(0%, -100%); */
		opacity: 0;
	}
}
#loader .brand-name {
	vertical-align: middle;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 120px;
	color: #e2e2e2;

}
@media (max-width: 500px) {
	#loader .brand-name {
		font-size: 80px;
	}
}
@media (max-width: 300px) {
	#loader .brand-name {
		font-size: 50px;
	}
}
#loader .loader-column {
	display: flex;
	flex-direction: column;
  }